<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<!--    <link rel="stylesheet" href="/styles/style.css">-->
<!--    <link rel="stylesheet" href="/styles/product.css">-->
<!--    <link rel="stylesheet" href="/styles/badge.css">-->
<!--    <link rel="stylesheet" href="/styles/product-cart.css">-->
<!--    <link rel="stylesheet" href="/styles/hero-image.css">-->
    <link rel="stylesheet" href="/styles/flex.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="flex-container">
    <div class="flex-element">
        <h1>Welcome to the Movie List App</h1>
    </div>
    <div class="flex-element">
        <a href="/movies/ui" ><button class="nav-btn">View Movie List</button></a>
    </div>
</div>

<script type="module" src="/scripts/index.js"></script>
</body>
</html>
